@import '../Variables/Variables.scss';


.text{
  z-index: 100;
  color: $color-white;
}

.quote{
  font-family: Philosopher, serif;
  line-height: 3rem;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
}
.quotePerson{
  font-family: Philosopher, serif;
  line-height: 3rem;
  font-weight: 400;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: right;
  padding-top: 50px;
  width: 100%;

  a{
    z-index: 1000;
    position: relative;
    background: linear-gradient(transparent, transparent 50%, $color-dark-green 50%, $color-dark-green);
    color: $color-white;
    background-size: 100% 200%;
    transition: background .5s;


    &:hover{
      background-position: 100% 100%;
      cursor: pointer;
    }
  }
}

.normalTextContainer{
  width: 70%;
  font-size: 1.25rem;
  text-align: justify;
}

.quotePerson{
  color: $color-white;
}

.customSectionContainer{
  padding-right: 150px;
  padding-left: 150px;
  padding-bottom: 1000px;
}