@import '../components/Variables/Variables.scss';

.customContainerList{
  width: 85%;
  height: 100%;
  padding-top: 200px;
}

.listItem{
  color: $color-white;
}

.horizontal-scroll-wrapper{
  display: flex;
  position:relative;
  top:0;
  left:0;
  width:100%;
  margin:0;
  background:#abc;
  overflow:scroll;
}
.horizontal-scroll-wrapper > div{
  padding:5px;
  background:#cab;
}

.customList > div{
  width:60px;
  height:60px;
  margin:10px;
}

.scroll-bar{
  background-color: $color-gray;
}

.scroll-progress{
  max-width: 100%;
  background-color: $color-stark;
  height: 10px;
}