@import '../components/Variables/Variables.scss';

.swiper {
  width: 100%;
  height: 100%;
  overflow: visible !important;
}

.listContainer {
  padding-top: 150px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide{
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 350px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6 !important;
  max-height: 500px!important;
  transition: all 1s ease-in-out;
  height: 1000px!important;

  .figurenName {
    opacity: 0!important;
  }
}

.swiper-slide-active {
  opacity: 1 !important;
  max-height: 500px!important;
  transition: all 1s ease-in-out;
  .figurenName {
    opacity: 1!important;
  }
}

.customContainerList {
}

.figurenList {
  padding-right: 150px;
  padding-left: 150px;
}

.swiper-pagination-custom-progress {
  z-index: 2000000;
  position: relative;
  height: 8px;
}

.swiper-pagination-custom {
  background-color: $color-gray;
}

.starkList {
  background-color: $color-stark;
  transition: width .3s ease-in-out;
}

.targaryenList {
  background-color: $color-targaryen;
  transition: width .3s ease-in-out;
}

.lannisterList {
  background-color: $color-lannister;
  transition: width .3s ease-in-out;
}

.houseLogo {
  width: 25%;
}

.figureIMG {
  width: 100%;
  height: 100%;
  object-fit: cover;


}

.figurenContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  height: 100%;
  width: 100%;

}

.figurenName {
  font-family: "Cera Round Pro", sans-serif;
  position: absolute;
  z-index: 100000;
  bottom: 0px;
  color: #d3d4de;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
  margin-bottom: -150px;
  width: 100%;
  transition: opacity 1s ease-in-out;
}

.figureHeadline{
  font-size: 35px;
}

.lastContainer{
  padding-bottom: 300px;
}

.houseLink {
  z-index: 10000;
  position: relative;
}

.houseLogoHousePage {
  width: 50%;
}

.housesContainer {
  padding-top: 100px;
}

.figureBtn {
  position: relative;
  padding: 10px 20px;
  width: fit-content;
  background: linear-gradient($color-dark-green, $color-dark-green 50%, $color-black 50%, $color-black);
  background-size: 100% 200%;
  transition: background .5s;
  color: $color-white !important;
  text-decoration: none !important;


  a {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.4px;
    cursor: pointer;
  }

  &:hover {
    background-position: 100% 100%;
    color: $color-white;

  }
}

.housesSwiper{
  .swiper-slide{
    background-color: transparent;
  }
}