$color-white: #fffffF;
$color-dark-grey: #363636;
$color-black: #000000;
$color-gray: #2c3338;
$color-dark-green: #405a5a;
$color-dark-white: #d3d4de;
$color-spark-red: #AB000B;
$color-spark-orange: #DE4A00;