@import '../Variables/Variables.scss';
@import url('https://fonts.cdnfonts.com/css/cera-round-pro');


.headerIMG{
  left: 0%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
}

.parallax {
  -webkit-perspective: 100px;
  perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  top: 0;
  left: 45px;
  right: 0;
  bottom: 0;
  margin-left: -55px;
}
.parallax__cover {
  background: transparent;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 500px;
  z-index: 2;
}


.textContainer{
  position: absolute;
  top: 0;
  left: 0;
  width: 99vw;
  height: 100%;
}

.customContainer{
  height: 100%;
}

.infoBox{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.lineContainer{
  height: 45%;
  width: 1000px;
}

.customSectionContainer{
  margin-top: -50px;
}

.headline{
  font-size: 3.5rem;
  color: $color-white;
  font-family: 'Cera Round Pro', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.1666666667em;
  height: 10%;
  width: 1000px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.lineTopHeadlineContainer{
  height: 100%;

}

.lineHeadline{
  border-right: 1px solid $color-white;
  max-height: 0px;
  height: 100%;
  transition: all 1.5s ease-in-out;

}

.parallaxContainer{
  z-index: -1;
  position: relative;
}

.lineUnderHeadlineContainer{
  height: 100%;
  padding-top: 35px;
  padding-bottom: 50px;
}
