@import '../Variables/Variables.scss';

.spark {
  background-color: $color-spark-orange;
  font-family: 'Helvetica', sans-serif;
  visibility: hidden;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 30%;
  box-shadow: 0 0 5px $color-spark-red;
  z-index: 10000;
}

#sparks{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
  transition: opacity 1s ease-in-out;
}